{{ template "base" }}

{{template "navigation" "bolt11"}}

    <div hx-ext="remove-me" id="notifications"> 

    </div> 
<main class="bolt11" >
    <form hx-post="/admin/bolt11" hx-target="#notifications" hx-swap="innerHTML">
        <h2>Lightning Node info</h2>

            <label for="NETWORK" class="settings-input"> 
                Network Type
                <select  name="NETWORK"> 
                    <option value="mainnet"  {{ if eq .NETWORK "mainnet"}} selected {{ end }}>Mainnet</option>
                    <option value="testnet"  {{ if eq .NETWORK "testnet"}} selected {{ end }}>Testnet</option>
                    <option value="signet"  {{ if eq .NETWORK "signet"}} selected {{ end }}>Signet</option>
                    <option value="regtest"  {{ if eq .NETWORK "regtest"}} selected {{ end }}>Regtest</option>
                </select>
            </label>
        <label for="MINT_LIGHTNING_BACKEND" class="settings-input"> 
            Lightning Node Backend
        <select hx-trigger="change, load" hx-get="/admin/lightningdata" hx-target="#lightning-data" name="MINT_LIGHTNING_BACKEND"> 
            <option value="FakeWallet" hx-trigger="selected" hx-get="/admin/lightningdata" hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "FakeWallet"}} selected {{ end }}>Fake Wallet</option>
            <option value="LndGrpcWallet" hx-trigger="selected" hx-get="/admin/lightningdata" hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "LndGrpcWallet"}} selected {{ end }}>LND Grpc wallet</option>
            <option value="ClnGrpcWallet" hx-trigger="selected" hx-get="/admin/lightningdata"
            hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "ClnGrpcWallet"}} selected {{ end
            }}>Core-Lightning Grpc wallet</option>
            <option value="LNbitsWallet" hx-trigger="selected" hx-get="/admin/lightningdata" hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "LNbitsWallet"}} selected {{ end }}>LNBITS wallet</option>
        </select>
            </label>



        <div id="lightning-data" > </div>

        <button class="md-button" type="submit">Save Settings</button>
    </form>
</main>

{{ define "lnd-grpc-form" }}

            <label for="LND_GRPC_HOST" class="settings-input"> 
                LND GRPC Host
                <input type="text" name="LND_GRPC_HOST" value="{{.LND_GRPC_HOST}}"/>
            </label>
            <label for="LND_GRPC_HOST" class="settings-input"> 
                LND TLS Certificate
                <textarea name="LND_TLS_CERT"  type="password">{{.LND_TLS_CERT}}</textarea>
            </label>
            <label for="LND_MACAROON" class="settings-input"> 
                LND Macaroon (HEX)
                <input type="password" name="LND_MACAROON" value="{{.LND_MACAROON}}"/>
            </label>

{{ end }}
{{ define "cln-grpc-form" }}

            <label for="CLN_GRPC_HOST" class="settings-input"> 
                Core-Lightning GRPC Host
                <input type="text" name="CLN_GRPC_HOST" value="{{.CLN_GRPC_HOST}}"/>
            </label>
            <label for="CLN_CA_CERT" class="settings-input"> 
                Core-Lightning CA Certificate
                <textarea name="CLN_CA_CERT"  type="password">{{.CLN_CA_CERT}}</textarea>
            </label>
            <label for="CLN_CLIENT_CERT" class="settings-input"> 
                Core-Lightning Client Certificate
                <textarea name="CLN_CLIENT_CERT"  type="password">{{.CLN_CLIENT_CERT}}</textarea>
            </label>
            <label for="CLN_CLIENT_KEY" class="settings-input"> 
                Core-Lightning Client Certificate
                <textarea name="CLN_CLIENT_KEY"  type="password">{{.CLN_CLIENT_KEY}}</textarea>
            </label>
            <label for="CLN_MACAROON" class="settings-input"> 
                Core-Lightning Rune (HEX)
                <input type="password" name="CLN_MACAROON" value="{{.CLN_MACAROON}}"/>
            </label>

{{ end }}

{{ define "fake-wallet-form" }}

    It's a fake lightning wallet so you don't have to set anything up

{{ end }}

{{ define "lnbits-wallet-form" }}

            <label for="MINT_LNBITS_ENDPOINT" class="settings-input"> 
                LNBITS endpoint
                <input type="text" name="MINT_LNBITS_ENDPOINT" value="{{.MINT_LNBITS_ENDPOINT}}"/>
            </label>
            <label for="MINT_LNBITS_KEY" class="settings-input"> 
                LNBITS Key
                <input type="password" name="MINT_LNBITS_KEY" value="{{.MINT_LNBITS_KEY}}"/>
            </label>

{{ end }}
{{ define "problem-form" }}
    "something is wrong you sent the wrong lightning backend"
{{ end }}
