package templates 

templ ObbNotification(children templ.Component) {
	<div id="notifications" hx-ext="remove-me" hx-swap-oob="true">
		@children
	</div>
}

templ ErrorNotif(message string) {
	<div id="snackbar" remove-me="3s" class="error">
		<span>{ message }</span>
	</div>
}

templ SuccessNotif(message string) {
	<div id="snackbar" remove-me="3s" class="success">
		<span>{ message }</span>
	</div>
}
