package templates 

templ ErrorNotif(message string) {
	<div id="snackbar" remove-me="3s" class="error">
		<span>{ message }</span>
	</div>
}

templ SuccessNotif(message string) {
	<div id="snackbar" remove-me="3s" class="success">
		<span>{ message }</span>
	</div>
}
