{{ template "base" }}

{{template "navigation" "keysets"}}

<main class="keysets">
   
    <div hx-ext="remove-me" id="notifications">
    </div>

    <form 
        hx-indicator="#loader" 
        hx-target="#notifications" 
        hx-swap="innerHTML" 
        hx-post="/admin/rotate/sats"
        class="fees-form"
        >
            <label  for="FEE" class="settings-input"> 
                    Fees (PPK).

                    Ex: 100 PPK = 1 sat / 10 Inputs

                
                    <input type="number" name="FEE" value="0"/>
            </label>


        <button hx-disabled-elt="this" 
            class="square" 
            type="submit">
            Rotate Sats keys up


        </button>
        
        <div id="loader" class="htmx-indicator lds-dual-ring" ></div>
    </form>
        



    <div hx-get="/admin/keysets-layout" hx-trigger="load, recharge-keyset from:body" hx-swap="innerHTML"
        hx-target="this" class="keysets-list">
        
    </div>

</main>

{{ define "keysets" }}
    {{range .Keysets}}

        {{template "keyset-card"  .}}


    {{end}}

{{ end }}

{{ define "keyset-card" }}

<div class="card">
    <span>Id: {{.Id}}</span>
    <span>Active: {{.Active}}</span>
    <span>Unit: {{.Unit}}</span>
    <span>Fees (PPK): {{.Fees}}</span>
    <span>Version: {{.Version}}</span>

</div>

{{end}}
