package templates

templ head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="/css/app.css"/>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
}

templ Layout(route string) {
	@head()
	@Header()
	<body data-route={ route }>
		<div hx-ext="remove-me" id="notifications"></div>
		{ children... }
	</body>
}
