{{ define "mint-settings" }}
<nav class="tab-list" role="tablist">
	<button hx-get="/admin/mintactivity"  role="tab" aria-selected="true" aria-controls="tab-content">Mint Activity</button>
	<button hx-get="/admin/keysets" role="tab" aria-selected="false" aria-controls="tab-content">Keysets</button>
	<button hx-get="/admin/mintsettings" class="selected" role="tab" aria-selected="true" aria-controls="tab-content">Mint
        settings</button>
	<button hx-get="/admin/bolt11" role="tab" aria-selected="false" aria-controls="tab-content">Lightning Info</button>
</nav>

<article id="tab-content" role="tabpanel" class="tab-content">


    <form hx-post="/admin/mintsettings" hx-target="#notifications" hx-swap="innerHTML">
    <div hx-ext="remove-me" id="notifications">
    </div>
        <h3>Mint Settings</h3>
            <label for="MOTD" class="settings-input"> 
                Mint Notifications (MOTD):
                <input name="MOTD" value="{{.MOTD}}" type="text"  />
            </label>
            <label for="NAME" class="settings-input"> 
                Name:
                <input name="NAME"value="{{.NAME}}" type="text"  />
            </label>

            <label for="DESCRIPTION" class="settings-input"> 
                Description:
                <input name="DESCRIPTION"value="{{.DESCRIPTION}}" type="text"  />
            </label>
            <label for="DESCRIPTION_LONG" class="settings-input"> 
                Long Description:
                <textarea name="DESCRIPTION_LONG"  type="text">{{.DESCRIPTION_LONG}}</textarea>
            </label>

        <div class="form-section">
            <label for="EMAIL" class="settings-input"> 
                Contact email:
                <input name="EMAIL" value="{{.EMAIL}}" type="email"  />
            </label>
            <label for="NOSTR" class="settings-input"> 
                Nostr contact info:
                <input name="NOSTR" value="{{.NOSTR}}" type="text"  />
            </label>
            
            <label for="PEG_OUT_ONLY" class="settings-input"> 
                Only PEG OUT SATS :
                <input name="PEG_OUT_ONLY"  type="checkbox" {{ if .PEG_OUT_ONLY }} checked {{ end }}  />
            </label>
            <label for="PEG_IN_LIMIT_SATS" class="settings-input"> 
                PEG IN LIMIT (SATS)
                <input name="PEG_IN_LIMIT_SATS" value="{{.PEG_IN_LIMIT_SATS}}" type="number"  step="1" />
            </label>
            <label for="PEG_OUT_LIMIT_SATS" class="settings-input"> 
                PEG OUT LIMIT (SATS)
                <input name="PEG_OUT_LIMIT_SATS" value="{{.PEG_OUT_LIMIT_SATS}}" type="number" step="1"  />
            </label>
            <!--  -->
        </div>

    <button type="submit">Save Settings</button>
    </form>
</article>

{{ end }}


{{ define "bolt11-info" }}
<nav class="tab-list" role="tablist">
	<button hx-get="/admin/mintactivity"  role="tab" aria-selected="true" aria-controls="tab-content">Mint Activity</button>
	<button hx-get="/admin/keysets" role="tab" aria-selected="false" aria-controls="tab-content">Keysets</button>
	<button hx-get="/admin/mintsettings"  role="tab" aria-selected="true" aria-controls="tab-content">Mint
        settings</button>
	<button hx-get="/admin/bolt11" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Lightning Info</button>
</nav>

<article id="tab-content" role="tabpanel" class="tab-content">
    <form hx-post="/admin/bolt11" hx-target="#notifications" hx-swap="innerHTML">
    <div hx-ext="remove-me" id="notifications"/>

    </div>
        <h3>Lightning Node info</h3>

            <label for="NETWORK" class="settings-input"> 
                Network Type
                <select  name="NETWORK"> 
                    <option value="mainnet"  {{ if eq .NETWORK "mainnet"}} selected {{ end }}>Mainnet</option>
                    <option value="testnet"  {{ if eq .NETWORK "testnet"}} selected {{ end }}>Testnet</option>
                    <option value="signet"  {{ if eq .NETWORK "signet"}} selected {{ end }}>Signet</option>
                    <option value="regtest"  {{ if eq .NETWORK "regtest"}} selected {{ end }}>Regtest</option>
                </select>
            </label>
        <label for="MINT_LIGHTNING_BACKEND" class="settings-input"> 
            Lightning Node Backend
        <select hx-trigger="change, load" hx-get="/admin/lightningdata" hx-target="#lightning-data" name="MINT_LIGHTNING_BACKEND"> 
            <option value="FakeWallet" hx-trigger="selected" hx-get="/admin/lightningdata" hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "FakeWallet"}} selected {{ end }}>Fake Wallet</option>
            <option value="LndGrpcWallet" hx-trigger="selected" hx-get="/admin/lightningdata" hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "LndGrpcWallet"}} selected {{ end }}>LND Grpc wallet</option>
            <option value="LNbitsWallet" hx-trigger="selected" hx-get="/admin/lightningdata" hx-target="#lightning-data" {{ if eq .MINT_LIGHTNING_BACKEND "LNbitsWallet"}} selected {{ end }}>LNBITS wallet</option>
        </select>
            </label>



        <div id="lightning-data" > </div>

        <button type="submit">Save Settings</button>
    </form>
</article>
{{ end }}


{{ define "lnd-grpc-form" }}

            <label for="LND_GRPC_HOST" class="settings-input"> 
                LND GRPC Host:
                <input type="text" name="LND_GRPC_HOST" value="{{.LND_GRPC_HOST}}"/>
            </label>
            <label for="LND_GRPC_HOST" class="settings-input"> 
                LND TLS Certificate:
                <textarea name="LND_TLS_CERT"  type="text">{{.LND_TLS_CERT}}</textarea>
                <!-- <input type="text" name="LND_TLS_CERT" value="{{.LND_TLS_CERT}}"/> -->
            </label>
            <label for="LND_MACAROON" class="settings-input"> 
                LND Macaroon:
                <input type="text" name="LND_MACAROON" value="{{.LND_MACAROON}}"/>
            </label>

{{ end }}

{{ define "fake-wallet-form" }}

    It's a fake lightning wallet so you don't have to set anything up

{{ end }}

{{ define "lnbits-wallet-form" }}

            <label for="MINT_LNBITS_ENDPOINT" class="settings-input"> 
                LNBITS endpoint:
                <input type="text" name="MINT_LNBITS_ENDPOINT" value="{{.MINT_LNBITS_ENDPOINT}}"/>
            </label>
            <label for="MINT_LNBITS_KEY" class="settings-input"> 
                LNBITS Key:
                <input type="text" name="MINT_LNBITS_KEY" value="{{.MINT_LNBITS_KEY}}"/>
            </label>

{{ end }}


{{ define "keysets-page" }}
<nav class="tab-list" role="tablist">
	<button hx-get="/admin/mintactivity"  role="tab" aria-selected="true" aria-controls="tab-content">Mint Activity</button>
	<button hx-get="/admin/keysets" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Keysets</button>
	<button hx-get="/admin/mintsettings"  role="tab" aria-selected="true" aria-controls="tab-content">Mint
        settings</button>
	<button hx-get="/admin/bolt11"  role="tab" aria-selected="false" aria-controls="tab-content">Lightning Info</button>
</nav>

<article id="tab-content" role="tabpanel" class="tab-content">
   

    <div hx-ext="remove-me" id="notifications">
    </div>

    <form 
        hx-indicator="#loader" 
        hx-target="#notifications" 
        hx-swap="innerHTML" 
        hx-post="/admin/rotate/sats"
        class="fees-form"

        >
            <label for="FEE" class=""> 

                    Fees (PPK).
                    
                    Ex: 100 PPK = 1 sat / 10 Inputs
                
                    <input type="number" name="FEE" value="0"/>
            </label>


        <button hx-disabled-elt="this" 
            class="square" 
            type="submit">
            Rotate Sats keys up


        </button>
        
        <div id="loader" class="htmx-indicator lds-dual-ring" ></div>
    </form>
        



    <div hx-get="/admin/keysets-layout" hx-trigger="load, recharge-keyset from:body" hx-swap="innerHTML" hx-target="this" class="keysets">
        
    </div>




</article>
{{ end }}

{{ define "logs" }}
    {{range .}}

        <p class="log">
        Level: {{.Level}}

        Message: {{.Msg}}
         
        Time: {{.Time}}

        </p>


    {{end}}

{{ end }}



{{ define "keysets" }}
    {{range .Keysets}}

        {{template "keyset-card"  .}}


    {{end}}

{{ end }}

{{ define "keyset-card" }}

<div class="card">
    <span>Id: {{.Id}}</span>
    <span>Active: {{.Active}}</span>
    <span>Unit: {{.Unit}}</span>
    <span>Fees (PPK): {{.Fees}}</span>
    <span>Version: {{.Version}}</span>

</div>

{{end}}



{{ define "problem-form" }}
    "something is wrong you sent the wrong lightning backend"
{{ end }}



{{ define "settings-error" }}
    
<div remove-me="3s" class="error">
    <span>{{.Error}}</span>
</div>

{{end}}

{{ define "settings-success" }}
    
<div remove-me="3s" class="success">
    <span>{{.Success}}</span>
</div>

{{end}}
