# hex endcoded 32 byte key
MINT_PRIVATE_KEY="" # Private key of the mint
ADMIN_NOSTR_NPUB="" # used for login to the admin dashboard

# DATABASE
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="" # Use a strong password

DATABASE_URL="postgres://postgres:admin@db/postgres" # used in docker development and productions
# DATABASE_URL="postgres://postgres:admin@localhost:5432/postgres" # used in local development

# HOSTING // docker
LE_EMAIL_ADDRESS="email@forletsencrypt.com" # email for self sign certificates
MINT_HOSTNAME="mint.example.com" #domain for mint
TRAEFIK_HOSTNAME="traefik.example.com" #domain for traefik
DOCKER="true"


# set to prod for deployment
MODE="prod"
