# hex endcoded 32 byte key
MINT_PRIVATE_KEY="" # Private key of the mint
ADMIN_NOSTR_NPUB="" # used for login to the admin dashboard

JWT_SECRET="" # Please a secure secret for login

# DATABASE
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="" # Use a strong password

DATABASE_URL="postgres://postgres:admin@db/postgres" # used in docker development and productions
# DATABASE_URL="postgres://postgres:admin@localhost:5432/postgres" # used in local development

# HOSTING
LE_EMAIL_ADDRESS="email@forletsencrypt.com"
MINT_HOSTNAME="mint.example.com"
TRAEFIK_HOSTNAME="traefik.example.com"


# set to prod for deployment
MODE="prod"
