NAME="Test name"
DESCRIPTION="This is a test"
DESCRIPTION_LONG="This is a long test"
MOTD="important notification"
EMAIL="test@test.com"
NOSTR="nostr priv key"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="" # Use a strong password

# hex endcoded 32 byte key
MINT_PRIVATE_KEY="" #Please use a strong password

# LIGHTNING CONNECTION
# Supported: FakeWallet, LndGrpcWallet, LNbitsWallet


# Use for LndGrpcWallet
MINT_LIGHTNING_BACKEND=LndGrpcWallet
LND_GRPC_HOST="127.0.0.1:10001"
LND_TLS_CERT="-----BEGIN CERTIFICATE-----
MIICPjCCAeOgAwIBAgIQEQ351wwfF1poE3Rnz/ceOTAKBggqhkjOPQQDAjAxMR8w
HQYDVQQKExZsbmQgYXV0b2dlbmVyYXRlZCBjZXJ0MQ4wDAYDVQQDEwVhbGljZTAe
Fw0yNDAzMDkxNjU5MzZaFw0yNTA1MDQxNjU5MzZaMDExHzAdBgNVBAoTFmxuZCBh
dXRvZ2VuZXJhdGVkIGNlcnQxDjAMBgNVBAMTBWFsaWNlMFkwEwYHKoZIzj0CAQYI
KoZIzj0DAQcDQgAE7K82pYNrY7Actt3C72rkul+Bh+NshNXlDOc/ooHPzwdT8D7X
JhqYsuYApLZ5zXU7r2J5HZENvdFVXZGH+ZBfJaOB3DCB2TAOBgNVHQ8BAf8EBAMC
AqQwEwYDVR0lBAwwCgYIKwYBBQUHAwEwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4E
FgQU0m8M9KHvqg5jQQ2vvOtOPDk0LOYwgYEGA1UdEQR6MHiCBWFsaWNlgglsb2Nh
bGhvc3SCBWFsaWNlgg5wb2xhci1uMS1hbGljZYIUaG9zdC5kb2NrZXIuaW50ZXJu
YWyCBHVuaXiCCnVuaXhwYWNrZXSCB2J1ZmNvbm6HBH8AAAGHEAAAAAAAAAAAAAAA
AAAAAAGHBKwSAAIwCgYIKoZIzj0EAwIDSQAwRgIhAIhkHEpss62S6rPbWjvc0rlF
xVorgwUhgwMVgbY/usuFAiEApIZDsgT03UarfHeckeGnoH7CWsvQDJE4DwgjUomj
rIA=
-----END CERTIFICATE-----"
# Hex encoded macaroon
LND_MACAROON="0201036c6e6402f801030a108789bbbbd23abb184c291d7917ffd1fc1201301a160a0761646472657373120472656164120577726974651a130a04696e666f120472656164120577726974651a170a08696e766f69636573120472656164120577726974651a210a086d616361726f6f6e120867656e6572617465120472656164120577726974651a160a076d657373616765120472656164120577726974651a170a086f6666636861696e120472656164120577726974651a160a076f6e636861696e120472656164120577726974651a140a057065657273120472656164120577726974651a180a067369676e6572120867656e6572617465120472656164000006205730424c05aba2353a89be0c7c1ea14961e79a9cdaacc8e9cc4efc7571a66a11"


# Use for LNbitsWallet
MINT_LNBITS_ENDPOINT=https://legend.lnbits.com
MINT_LNBITS_KEY=yourkeyasdasdasd


# Supported: regtest, testnet, mainnet, signet
NETWORK="regtest"


# DATABASE
DATABASE_URL="postgres://postgres:admin@db/postgres" # used in docker development
# DATABASE_URL="postgres://postgres:admin@localhost:5432/postgres" # used in local development

# HOSTING
LE_EMAIL_ADDRESS="email@forletsencrypt.com"
MINT_HOSTNAME="mint.example.com"
TRAEFIK_HOSTNAME="traefik.example.com"


# set to prod for deployment
MODE="prod"
