.fees-form {
  flex-direction: row;
  padding: 15px;
  margin: 0px;
  align-items: center;
  width: fit-content;
}

.keysets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
  background-color: var(--color-surface-200);
  width: 75%;
  gap: 15px;
  margin-top: 30px;
  padding: 15px;
  border-radius: 15px;
}

button:hover {
  background-color: var(--color-primary-400);
}
