.keysets {

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0% 10%

}
.fees-form {
  flex-direction: row;
  padding: 15px;
  margin: 0px;
  align-items: center;
  width: fit-content;
  border: 1px solid var(--white);
}

.keysets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
  gap: 15px;
  margin-top: 30px;
  border-radius: 15px;
}

.unit {
    text-transform: uppercase;

}

