.liquidity-dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.liquidity-dashboard .actions-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  background-color: var(--color-surface-200);
  border: 1px solid var(--white);
  align-self: center;
  word-wrap: break-word;
  padding: 20px;
}

.liquidity-dashboard .swap-list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-200);
  align-self: center;
  max-height: 600px;
  overflow-y: auto;
}

.liquidity-actions {
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.invoice-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  min-width: 400px;
  min-height: 120px;
}
.invoice-input textarea {
  width: 100%;
  height: 100%;
}

.swap-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 0px;
}

.active-swaps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  word-wrap: break-word;
}

.summary {
  padding: 20px;
}

.action-button {
  background-color: var(--darkreader-inline-bgcolor);
  color: var(--white);
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1px;
  border: 0px;
  height: max-content;
  align-self: center;
}

.action-button:hover {
  background-color: #0056b3;
}

.action-button:active {
  transform: translateY(1px);
}

.action-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}
