name: Nutmix
on:
  pull_request:
    branches: [master, signet, admin_dashboard]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
          cache: true

      - name: Go Toolchain info
        run: |
          go version

      - name: Install Just
        run: |
          sudo apt-get update
          sudo apt-get install -y just

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: just install-deps

      - name: Build
        run: just build

      - name: Test
        run: just test
